body {
    padding-top: 30px;
    text-align: center;
    
    
}

html {

    background-image: url('pittsburgh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
form {
    padding-top: 40px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

label {
    text-align: left;
    display: inline-block;
    padding: 20px;
}

input{
    display: block;
}

select{
    display: block;
}
